.app.dark {
  --bg-color: #07074f;
  --inverted-bg-color: #cbcbce;

  --primary-color: #418d41;
  --secondary-color: #54901c;
  --inverted-primary-color: #0733fd;
  --inverted-secondary-color: #2e82dc;
}
