.app.light {
  --bg-color: #cbcbce;
  --inverted-bg-color: #07074f;

  --primary-color: #0733fd;
  --secondary-color: #2e82dc;
  --inverted-primary-color: #bdf3bd;
  --inverted-secondary-color: #54901c;
}
